.x_flex
  display: flex
.x_flex-between
  display: flex
  justify-content space-between

.x_flex-around
  display: flex
  justify-content space-around


.toast 
  position: fixed;
  bottom: 20%;
  left: 0;
  width: 100%;
  text-align center
  z-index 999999
  span 
    display inline-block
    padding .1rem .15rem
    border-radius .05rem
    background rgba(0,0,0,.8)
    color #fff

.text-c
  text-align: center