@import './theme.scss';

.x_flex {
  display: flex;
}
.x_flex-between {
  display: flex;
  justify-content: space-between;
}
.x_flex-around {
  display: flex;
  justify-content: space-around;
}
.toast {
  position: fixed;
  bottom: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 999999;
  transition: all .3s;
  span {
    display: inline-block;
    padding: .1rem .15rem;
    border-radius: .05rem;
    background: rgba(0,0,0,.8);
    color: #fff;
  }
}
// inputText
.label-text {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: .37rem;
  margin-bottom: .1rem;
  justify-content: flex-start;
  .label {
    width: 25%;
    height: .37rem;
    line-height: .37rem;
  }
  .input-text {

    height: .37rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #eee;
    padding: 0 .1rem;
    border-radius: .05rem;
    font-size: .14rem;
  }
  &.label-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .label {
      height: .37rem;
      line-height: .37rem;
    }
  }
}

// XCheckbox
.x-checkbox{
  position: relative;
  line-height: 1.5em;
  padding: .1rem .05rem;

  .native {
    color: $color-primary !important;
    vertical-align: middle;
  }
  .text{
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5em;
    padding-left: .05rem;

  }
  .input-checkbox{
    position: absolute;
    left: -2000;
  }
}

// XRadio
.x-radio{
  position: relative;
  line-height: 1.5em;
  padding: .1rem .05rem;

  .native{
    color: $color-primary !important;
    vertical-align: middle;
  }
  .text{
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5em;
    padding-left: .05rem;

  }
  .input-radio{
    position: absolute;
    left: -2000;
  }

}

// XSelect
.x-select {
  display: flex;
  align-items: center;
  line-height: .37rem;
  margin-bottom: .1rem;
  justify-content: flex-start;
  width: 100%;
  .label {
    width: 25%;
    height: .37rem;
    line-height: .37rem;
  }
  .select{
    position: relative;
    width: 100%;
    select{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      background: transparent;
      opacity: 0;
    }
  }
  .icon-select {
    position: absolute;
    top: .08rem;
    right: .1rem;
  }
  .input-text {
    width: 100%;
    height: .37rem;
    box-sizing: border-box;
    border: 1px solid #eee;
    padding: 0 .1rem;
    border-radius: .05rem;
    font-size: .14rem;
  }
}
.select-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .label {
    height: .37rem;
    line-height: .37rem;
  }
}

// modal-confirm
.modal-confirm {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90000;
  width: 100%;
  height: 100%;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .modal-body {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    text-align: center;
    background: #ffffff;
    border-radius: 0.05rem;
  }
  .modal-header {
    height: 0.4rem;
    line-height: 0.4rem;
    border-bottom: 0.5px solid #fafafa;
  }
  .modal-main {
    line-height: 0.4rem;
    padding: 0.05rem 0;
  }
  .modal-footer {
    line-height: 0.45rem;
    border-top: 0.5px solid #eee;
    span {
      width: 50%;
      line-height: inherit;
      font-size: 0.14rem;
      color: #09f;
      border-right: 0.5px solid #eee;
    }
  }
}

// Prompt
.modal-prompt {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90000;
  width: 100%;
  height: 100%;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .modal-body {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    text-align: center;
    background: #ffffff;
    border-radius: 0.05rem;
  }
  .modal-header {
    height: 0.4rem;
    line-height: 0.4rem;
    border-bottom: 0.5px solid #fafafa;
  }
  .modal-main {
    line-height: 0.4rem;
    padding: 0.05rem 0;
  }
  .modal-footer {
    line-height: 0.45rem;
    border-top: 0.5px solid #eee;
    span {
      width: 50%;
      line-height: inherit;
      font-size: 0.14rem;
      color: #09f;
      border-right: 0.5px solid #eee;
    }
  }
}

// swiper
.swiper {
  position: relative;
  width: 100%;
  height: 1.7rem;
  background: #eee;
  overflow: hidden;
  li {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.75rem;
    height: 1.7rem;
    overflow: hidden;
    p {
      position: absolute;
      bottom: 0.4rem;
      left: 10%;
      width: 80%;
      text-align: center;
      color: #fff;
      overflow: hidden;
    }
  }
  img {
    width: 100%;
  }
  .swiper-page {
    position: absolute;
    bottom: 0.08rem;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    padding: 0 0.05rem;
    height: 0.1rem;
    display: flex;
    justify-content: center;
    span {
      height: 0.1rem;
      width: 0.1rem;
      margin: 0 0.05rem;
      border-radius: 50%;
      background: #fff;
      border: 0.02rem solid #fff;
      box-sizing: border-box;
    }
    .active {
      background: #fff;
      border: 0.02rem solid #09f;
    }
    .dice-left {
      justify-content: flex-start;
    }

    .dice-right {
      justify-content: flex-end;
    }

    
  }
  .swiper-btn {
    position: absolute;
    top: 50%;
    width: 0.32rem;
    height: 0.32rem;
    color: #fff;
    opacity: 0.5;
    margin-top: -0.16rem;
  }
  .swiper-btn-left {
    left: 0.1rem;
  }

  .swiper-btn-right {
    right: 0.1rem;
  }
  /* 可以设置不同的进入和离开动画 左进左出 */
  /* 设置持续时间和动画函数 */
  .slide-left-enter-active {
    transition: all 0.5s ease;
  }

  .slide-left-leave-active {
    transition: all 0.5s;
  }

  .slide-left-enter, .slide-right-leave-to {
    transform: translate(100%, 0);
  }

  .slide-right-enter-active {
    transition: all 0.5s ease;
  }

  .slide-right-leave-active {
    transition: all 0.5s ease;
  }

  .slide-right-enter, .slide-left-leave-to {
    transform: translate(-100%, 0);
  }
}
// badge
.badge {
  position: absolute;
  top: -.1rem;
  right: -.1rem;
  width: .2rem;
  height: .2rem;
  line-height: .2rem;
  text-align: center;
  background: $color-alert;
  font-size: .12rem;
  color: #ffffff;
  border-radius: 1rem;
}
// footer
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 0.49rem;
  border-top: 1px solid #eee;
  background: #fff;
  text-align: center;

  p {
    padding-top: 0.02rem;
  }
  .active{
      color: #f55
  }
}
// header
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  z-index: 999999;
  border-bottom: 1px solid #eee;
  background: #fff;
  text-align: center;
  h1{
    width: 100%;
    height: inherit;
  }
  span{
      position: absolute;
      top: 0;
      width: .44rem;
      height: inherit;
  }
  .header-l{
    left: 0;
  }
  .header-r{
    right: 0;
    transition: all .3s;
  }

}
.header-r {

  color: #09f
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

// loading
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900000;
  background: rgba(255, 255, 255, 0.5);
  .icon-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0.25rem;
    color: #999;
    animation: changDeg 2s linear 0.2s infinite;
    opacity: .2;
  }
  .icon-close{
    position: absolute;
    top: .5rem;
    right: .1rem;
    color: #f5f5f5
  }
}

// media
.media {
  position: relative;
  height: .7rem;
  padding: .1rem;
  border-bottom: 1px solid #eee;
  min-height: 20;
  .media-left {

    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 0;
    float: left;
    padding: 10% 0;
    overflow: hidden;
    border-radius: .05rem;
    img {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: auto;
      transform: translate(0, -50%);

    }
  }
  .media-body {
    padding-left: 22%;
    line-height: 1.5;
    font-size: .12rem;
    h3 {
      padding-bottom: .05rem;
      line-height: 2;
      font-weight: 600;
      font-size: .15rem;

    }
    .media-title {
      width: 74%;
      overflow: hidden;;
      text-overflow:ellipsis; ;
      white-space: nowrap; ;

    }
      
    p {
      overflow: hidden;
      color: #666;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

    }

  }

}
// sidebar
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 900000;
  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.2);
  }

  .side-body {
    position: absolute;
    top: 0.45rem;
    bottom: 0.5rem;
    right: 0;
    width: 80%;
    background: #fff;
    .side-body-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: .3rem;
      padding: .1rem 0;
      border-top: .5px solid #eee;
    }
      
  }
  .bg-e{
    padding: .1rem;
    background: #eee;

    .x_btn {
      margin: 0 .1rem .1rem 0;
    }
  }
}

// thumbnail
.thumbnail {
  box-sizing: border-box;
  padding: .1rem;
  background: #ffffff;
  border-radius: .05rem;
  .pic {
    position: relative;
    width: 100%;
    height: 0;
    padding: 50% 0;
    overflow: hidden;
    img {
      transform: translate(0, -50%);
    }
    p {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 95%;
      padding: 0 2.5%;
      line-height: .32rem;
      color: #fff;
      background: rgba(0,0,0,.5);
    }
  }
  .info {
    padding-top: .05rem;
    line-height: 1.2;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;;
    display: -webkit-box;;
    -webkit-line-clamp: 2;;
    -webkit-box-orient: vertical;;
  }
}

$btn-default: 0.32rem;

@mixin btn($num) {
  height: $btn-default + $num;
  line-height: $btn-default + $num;
  border-radius: ($btn-default + $num) * 0.1;
}

@mixin btnTheme($color) {
  background: $color;
  border-color: $color;
  color: #fff;
}

@mixin btnPlainTheme($color) {
  background: #fff;
  border-color: $color;
  color: $color;
}
%x_btn {
  position: relative;
  display: inline-block;
  padding: 0 0.15rem;
  @include btn(0);
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
}
// x_btn
[class^="x_btn"] {
  @extend %x_btn;
}
.x_btn {
  &-primary {
    @include btnTheme($color-primary)
  }
  &-success {
    @include btnTheme($color-success)
  }
  &-alert {
    @include btnTheme($color-alert)
  }
  &-danger {
    @include btnTheme($color-danger)
  }

  &-primary-plain {
    @include btnTheme($color-primary);
    @include btnPlainTheme($color-primary)
  }
  &-success-plain {
    @include btnTheme($color-success);
    @include btnPlainTheme($color-success)
  }
  &-alert-plain {
    @include btnTheme($color-alert);
    @include btnPlainTheme($color-alert)
  }
  &-danger-plain {
    @include btnTheme($color-danger);
    @include btnPlainTheme($color-danger)
  }
  
  &-small {
    @include btn(-0.08rem);
  }
  
  &-big {
    @include btn(0.08rem);
  }
  
  &-lg {
    width: 100%;
  }
}

// x-cell
.x-cell {
  position: relative;
  display: flex;
  justify-content: space-between ;
  height: .44rem;
  line-height: .24rem;
  box-sizing: border-box;
  padding: .1rem;
  border-bottom: 1px solid #eee;
  background: #fff;
  font-size: .16rem;
  .cell-left {
    position: relative;
    .date{
      font-weight: 500;
    }
  }
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24 {
  float: left;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  box-sizing: border-box;
};
.col-md-1{
  width: 4.16666667%;
}
.col-md-2{
  width: 8.33333333%;
}
.col-md-3{
  width: 12.5%;
}
.col-md-4{
  width: 16.66666667%;
}
.col-md-5{
  width: 20.83333333%;
}
.col-md-6{
  width: 25%;
}
.col-md-7{
  width: 29.16666667%;
}
.col-md-8{
  width: 33.33333333%;
}
.col-md-9{
  width: 37.5%;
}
.col-md-10{
  width: 41.66666667%;
}
.col-md-11{
  width: 45.83333333%;
}
.col-md-12{
  width: 50%;
}
.col-md-13{
  width: 54.16666667%;
}
.col-md-14{
  width: 58.33333333%;
}
.col-md-15{
  width: 62.5%;
}
.col-md-16{
  width: 66.66666667%;
}
.col-md-17{
  width: 70.83333333%;
}
.col-md-18{
  width: 75%;
}
.col-md-19{
  width: 79.16666667%;
}
.col-md-20{
  width: 83.33333333%;
}
.col-md-21{
  width: 87.5%;
}
.col-md-22{
  width: 91.66666667%;
}
.col-md-23{
  width: 95.83333333%;
}
.col-md-24{
  width: 100%
}

// x-icon
.x-icon {
  position: relative;
  display: inline-block;
  width: .2rem;
  height: .2rem;
  line-height: 1em;
  font-size: .2rem;
  vertical-align: middle;

}
// scroll
.scroll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  .down-update {
    width: 100%;
    text-align: center;
    transition: all 0.2s;
  }

  .scroll-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 80%;
    text-align: center;
  }
}